html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#playground {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 640px;
  height: 480px;
  background: url('../media/images/background.png');
}